@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,200,600,800);

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

div.container {
	height: 100% !important;
	margin: 0;
	padding: 0;
}

.index {
  background: #EFEFEF;
}

.index form {
  font-size: 20pt;
  margin: 10vh auto !important;
  border-radius: 15px;
  box-shadow: 0px 0px 25px 1px rgba(50, 50, 50, 0.1);
  width: 400px;
  height: 570px;
  background: white;
  animation: appear 700ms ease-out forwards;
}

.index form {
  margin: auto;
}

.index .top {
  width: 100%;
  height: 30%;
  border-radius: 15px 15px 0 0;
  background: #B5E1F4;
}

.index .bottom {
  width: 100%;
  height: 70%;
  border-radius: 15px;
  position: relative;
}

.index .inputs {
  margin: 0 auto;
  width: 340px;
  margin-top: 10px;
}

::-webkit-input-placeholder {
   color: #c3c3c3;
   letter-spacing: 3px;
   padding-left: 5px;
   font-weight: 200;
   font-size: 20pt;
}

:-moz-placeholder { /* Firefox 18- */
   color: #c3c3c3;
   letter-spacing: 3px;
   padding-left: 5px;
   font-weight: 200; 
   font-size: 20pt;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #c3c3c3;
   letter-spacing: 3px;
   padding-left: 5px;
   font-weight: 200;
   font-size: 20pt;
}

:-ms-input-placeholder {  
   color: #c3c3c3;
   letter-spacing: 3px;
   padding-left: 5px;
   font-weight: 200;  
   font-size: 20pt;
}

.index .city {
  background: #EFEFEF;
  width: 230px;
  height: 50px;
  padding: 4px;
  margin: 20px 4px 4px 7px;
  float: left;
  color: #A1A1A1;
  letter-spacing: 3px;
  padding-left: 10px;
  font-weight: 200;
  font-size: 20pt;
  border-radius: 15px;
}

.index .state {
  background: #EFEFEF;
  width: 75px;
  height: 50px;
  padding: 4px;
  margin: 20px 4px 4px 15px;
  text-align: center;
  border-radius: 15px;
  color: #A1A1A1;
  letter-spacing: 3px;
  font-weight: 200;
  font-size: 20pt;
}

.index i {
  clear: both;
  position: absolute;
  right: 30px;
  bottom: 30px;
  color: #AEAEAE;
  font-size: 35pt;
}

.index i:hover {
  color: #B5E1F4;
}

.index h1 {
  font-family: "Work Sans";
  font-weight: 200;
  font-size: 37pt;
  color: white;
  padding: 90px 30px 0 30px;
  letter-spacing: 4px;
}








/*WEATHER PAGE*/
@keyframes appear {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.05)
  }
  75% {
    transform: scale(0.95)
  }
  100% {
   transform: scale(1)
  }
}

@keyframes slidein {
  0% {
    margin-top: 100px;
  }
  50% {
    margin-top: -15px;
  }
  75% {
    margin-top: 15px;
  }
  100% {
    margin-top: 0;
  }
}

.weather {
  margin-top: 0 !important;
  background: #EFEFEF;
}

.weather .container {
  margin: auto;
  margin-top: 10vmax;
}

.weather .box {
  width: 300px;
  height: 400px;
  min-width: 300px;
  min-height: 400px;
  margin: 0 0 3vmax 4vmax;
  border-radius: 15px;
  box-shadow: 0px 0px 25px 1px rgba(50, 50, 50, 0.1);
  background: none;
  overflow: hidden;
  float: left;
  animation: appear 700ms ease-out forwards;
}

.weather .box2, .box3, .box4 {
  width: 300px;
  height: 400px;
  min-width: 300px;
  min-height: 400px;
  margin: 0 0 3vmax 3vmax;
  border-radius: 15px;
  box-shadow: 0px 0px 25px 1px rgba(50, 50, 50, 0.1);
  background: none;
  overflow: hidden;
  float: left;
  animation: appear 700ms ease-out forwards;
}

.weather .top {
  height: 55%;
  width: 100%;
  border-radius: 15px 15px 0 0;
  background: #B5E1F4;
  position: relative;
  line-height: 220px;
}

.weather .bottom {
  height: 45%;
  width: 100%;
  border-radius: 0 0 15px 15px;
  background: white;
}

.weather .highlow {
  margin-top: 200px;
  width: 80px;
  height: 75px;
  float: right;
  white-space: nowrap;
  padding-top: 15px;
}

.weather h1 {
  font-family: "Work Sans";
  font-weight: 200;
  font-size: 55pt;
  text-align: left;
  letter-spacing: 3px;
  padding: 20px 0 0 20px;
  color: #7E7E7E;
  animation: appear 700ms ease-out forwards;
}

.weather h2 {
  font-family: "Work Sans";
  font-weight: 400;
  color: #AEAEAE;
  font-size: 20pt;
  letter-spacing: 2px;
  float: left;
  padding: 20px 0 0 25px;
  animation: appear 700ms ease-out forwards;
}

.weather p {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 10pt;
  letter-spacing: 2px;
  color: #CFCFCF;
  line-height: 20px;
}

.weather img {
  width: 175px;
  vertical-align: middle;
  margin: auto;
}

.weather .box:hover .highlow {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 10pt;
  color: #9C9C9C;
  margin-right: 20px;
  padding-bottom: 10px;
  float: right;
  animation: slidein 500ms ease-out forwards;
}

.weather .box2:hover .highlow {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 10pt;
  color: #9C9C9C;
  margin-right: 20px;
  padding-bottom: 10px;
  float: right;
  animation: slidein 500ms ease-out forwards;
}

.weather .box3:hover .highlow {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 10pt;
  color: #9C9C9C;
  margin-right: 20px;
  padding-bottom: 10px;
  float: right;
  animation: slidein 500ms ease-out forwards;
}

.weather .box4:hover .highlow {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 10pt;
  color: #9C9C9C;
  margin-right: 20px;
  padding-bottom: 10px;
  float: right;
  animation: slidein 500ms ease-out forwards;
}

.weather i {
  position: absolute;
  right: 25px;
  bottom: 25px;
  color: #AEAEAE;
  font-size: 40pt;
  position: fixed;
}

.weather i:hover {
  color: white;
}


