<!DOCTYPE html>
<html>

  <head>
    <title>weather</title>
    <link href="/css/index.css" rel="stylesheet"/>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </head>

  <body> 


  


      <form method="post" action="/weather">
        <input type="text" name="city">
        <input type="text" name="state">
        <input class='submit' type='submit'>
      </form>

  </body>
</html>

