<!DOCTYPE html>
<html>

  <head>
    <title>weather</title>
    <link rel="icon" href="../images/sunny.png">
    <link href="/css/index.css" rel="stylesheet"/>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>

  <body class="index"> 


    <div class="form">
      <center>
      <form method="post" action="/weather">
        <div class="top">
          <h1>weather for...</h1>
        </div>
        <div class="bottom">
          <div class="inputs">
            <input class="city" type="text" name="city" placeholder="city">
            <input class="state" type="text" name="state">
            <br> 
            <input class="city" type="text" name="city2" placeholder="city">
            <input class="state" type="text" name="state2">
            <br>
            <input class="city" type="text" name="city3" placeholder="city">
            <input class="state" type="text" name="state3">
            <br>
            <input class="city" type="text" name="city4" placeholder="city">
            <input class="state" type="text" name="state4">
          </div>
          <button type="submit">
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
          </button>
        </div>

      </form>
      </center>
    </div>

  </body>
</html>







